.Very-dark-blue-main-BG {
  background-color: hsl(217, 54%, 11%);
}

.Very-dark-blue-card-BG {
  background-color: hsl(216, 50%, 16%);
}

.Very-dark-blue-line {
  background-color: hsl(215, 32%, 27%);
}
